# Copy this file to .env or ~/.config/adb/env
# then setup the config.

# Tencentyun Access Key
TencentyunAccessKeyID=""
TencentyunAccessKeySecret=""
TencentyunRegionID="cn-shanghai"


# Aliyun Access Key
AliyunAccessKeyID=""
AliyunAccessKeySecret=""
AliyunRegionID="cn-hangzhou"

